.option {
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 75vw;
    color: white;
}

.option > label {
    color: black;
    position: relative;
    text-align: end;
    margin: 0 0 100px 100px;
}